@import "~bootstrap/scss/functions"; //載入變數的套用方法
@import "./helpers/variables"; //載入自訂變數變數
@import "./helpers/dashboard"; 
@import "~bootstrap/scss/bootstrap";

.logout{
    margin: 5px;
    border: none;
    background-color:  $success;
    color: aliceblue;
}